<<<<<<< HEAD
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  position: fixed;
  z-index: 9999;
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
  }
.logo a {
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 2em;
  margin-right: 20px;
  margin-left: 20px;
}
.main_nav ul li a {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  margin: 45px 55px;
}
ul {
  list-style-type: none;
display: flex;
justify-content: space-around;
}
li {
  margin-top: 10px;
}
.search-box {
  width: 100%;
  position: relative;
}
.search_input {
  float: left;
  background: #f9f5f5;
  width: 90%;
  font-size: 17px;
  border: none;
  outline: none;
  padding: 6px;
  margin-top: 6px;
}
#search_button {
  position: absolute;
  top: 30%;
  right: 40px;
  width: 30px;
  height: 20px;
  background: transparent;
  border: none;
  outline: none;
  cursor:pointer;
  font-size: 20px;
}
.fa-search {
  margin-right: 40px;
}
.login-registro a {
  margin: 10px;
  color: black;
}
.shopping{
  padding: 0px 50px;
  position: relative;
}
.shopping ul li{
  margin-left: 10px;
  width: 30px;
}
.shopping a{
  color: black;
}
.shopping a:hover{
  color: lightblue;
}
#carouselExampleControls {
  margin-top: 10px;
  position: relative;
}

.home_slider_subtitle{
  position: absolute;
  top: 44%;
  left: 46%;
  padding: 10px 14px;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    background: #2f2f2f;
    color: white;
}
.home_slider_title {
  position: absolute;
  top: 50%;
  left: 30%;
    font-family: 'Playfair Display', serif;
    font-size: 72px;
    background: #937c6f;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.container {
  padding-left: 13px;
  padding-right: 13px;
}
.promo {
  padding-top: 88px;
  margin: 15px;
}
.promo_content {
  text-align: center;
  padding-bottom: 88px;
}
.promo_content_subtitle {
  color: #937c6f;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0.2em;
}
.promo_content_title {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
}
#promo {
  width: 100%;
}
.arrivals {
  padding-top: 88px;
  margin: 15px;

}
.arrival_content {
  text-align: center;
  padding-bottom: 88px;
}
.arrivals_subtitle {
  color: #937c6f;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.2em;
}
.arrivals_title {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
}

.product {
  display: block;
  position: relative;
}
.rating {
  margin-top: 24px;
}
.rating i {
  font-size: 10px;
  margin-right: 1px;
}
.rating_4 i {
  color: #f5c06f;
}
.rating_4 i:last-child {
  color: grey;
}
.product_info {
 margin-top: 7px;
}
.product_name a {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #232323;
}
.product_price {
  font-size: 24px;
  font-weight: 600;
  color: #8a8a8a;
}
.newsletter {
  position: relative;
padding-top: 93px;
}
.newsletter_image {
  width: 100%;
}
.newsletter-content {
  position: absolute;
  top: 40%;
  text-align: center;
}
.newsletter_subtitle {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2em;
}
.newsletter_title {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  color: white;
}
.newsletter_form_container {
  position: relative;
  padding-left: 35px;
  padding-right: 90px;
}
.newsletter_input {
  width: 100%;
height: 46px;
background: #FFFFFF;
padding-left: 35px;
border: none;
outline: none;
}
.newsletter_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 142px;
  height: 46px;
  background: #937c6f;
  color: white;
  font-size: 12px;
  letter-spacing: 0.2em;
  border: none;
  outline: none;
}
.newsletter_text {
font-family:  'Open Sans', sans-serif;
font-size: 14px;
margin-top: 19px;
font-style: italic;
color: white;

}
